*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
	font-size: 25px;
    background-color: rgba(73, 8, 75, 0.822);
}
.wrapper{
	height: 100%;
	padding: 50px;
	display: flex;
	justify-content:center;
	align-items: center;
}

@media (max-width:767px){
	.wrapper{padding: 50px 10px;}
}

.slick-slider{
	min-width: 0;
}

.slick-list {
	overflow: hidden;
}

.slick-track{
	display: flex;
	align-items: flex-start;
}


.slick-slide{}

.slick-slide.slick-active{}

.slick-slide.slick-current{}

.slick-slide.slick-center{}


.slick-arrow{}

.slick-arrow.slick-prev{
	left: 0;
	background: url('images/leftarrow.svg') 0 0 / 100% no-repeat;
}

.slick-arrow.slick-next{
	right: 0;
	background: url('images/rightarrow.svg') 0 0 / 100% no-repeat;
}

.slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slick-dots{}
.slick-dots li{}
.slick-dots button{}


.slider {
	position: relative;
	padding: 0px 60px;
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 30px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	}
.slider .slick-arrow.slick-next{
	right: 0;
	}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 7px;
	height: 7px;
	background-color: rgba(0, 0, 0, 0.507);
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid rgb(0, 0, 0);
}

.slider__item {
	padding: 0px 0px;
}
.slider__item img{
	max-width: 100%;
}
.slider__item.slick-center{
	
}

